<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<!--    &lt;!&ndash; 把我的动态资源类列在文件中，并起一个名字 &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>Hello</servlet-name>-->
<!--        &lt;!&ndash; 这里的类名称，需要带着 package 一起，也就是写类的完整名称 &ndash;&gt;-->
<!--        <servlet-class>TranslateServlet</servlet-class>-->
<!--    </servlet>-->

<!--    &lt;!&ndash; 把 /s 这个 url 和我们的类关联起来 &ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Hello</servlet-name>-->
<!--        <url-pattern>/translate</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>