# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\本地仓库\test\20201122\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
